@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;600&family=Roboto:ital@1&display=swap');

body{
    margin: 0;
    font-family: Roboto Slab, sans-serif;
}

* body{
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background: #00FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #000000;
}

.left-login-image {
    width: 35vw;
}

.rigth-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #4ab0b0;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #293333;
}

.card-login > h1 {
    color: #1d2928;
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 350PX;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #5a9496;
    color: #C0C0C0;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #325557;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #000000;
    margin-bottom: 10px;
    font-weight: 800;
}
    

.btn-login{
    width: 80%;
    padding: 13px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #4ab0b0;
    background: #C0C0C0;
    cursor: pointer;
    box-shadow: 0px 10px 40px #C0C0C0;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
        }
    .left-login > h1 {
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .rigth-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
}